@model conecta.Models.Respuesta
@{
    ViewBag.Title = "Consultar";
}

<h2>Consultar</h2>
<!--
    <button type="button" onclick="location.href='@Url.Action("HomeController","HacerConsulta")'" />



-->

<p> Código: @Html.DisplayFor(model => model.code) </p>
<p> Error: @Html.DisplayFor(model => model.error)</p>
<!--
    <p> Resultado: @Html.DisplayFor(model => model.result.payload)</p>
-->
