@model conecta.Models.Respuesta

<h2>Tarjeta</h2>
<p> Resultado: @Html.DisplayFor(model=> model.code)</p>
<p> Error: @Html.DisplayFor(model => model.error)</p>
<p> Código: @Html.DisplayFor(model => model.creditCardToken.creditCardTokenId) </p>